VITE_API_URL=http://localhost:8000
VITE_SUPABASE_URL=https://yjlsucbljlfhxsxdocye.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqbHN1Y2JsamxmaHhzeGRvY3llIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzNjAyNDQsImV4cCI6MjA5NjkzNjI0NH0.rVzroqPh5OIxB8kYfdR7Jz_5plIQBcfcf8S1Nhmo8nc
